.loading-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  /* input.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  
  mat-form-field.ng-invalid.ng-touched .mat-form-field-label {
    color: red;
  } */

  .suggestion-box {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 380px;
    max-height: 150px;
    overflow-y: hidden;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: -140px;
    right: 0;
    margin-right: 15px;
  }
  
  .suggestion-item {
    padding: 8px;
    cursor: pointer;
  }
  
  .suggestion-item:hover,
  .suggestion-item.active {
    background-color: #f0f0f0;
  }
  
  .email-container {
    position: relative;
  }
  
  /* .mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  } */